*{
    margin: 0;
    padding: 0;
}

#flex-container{
    margin: 5vh 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

#image{
    max-width: 25vw;
    border-radius: 50%;
}